<p>date created: {{post.createdAt}}</p>

<p>Username id: {{post.user.id}}</p>
<P>Username: {{post.user.username}}</P>
<p>Title: {{post.title}}</p>
<p>Content: {{post.content}} </p>
<p>Comments</p>
<p>Body: {{post.comments}}</p>

<form action="/add-comment/{{post.id}}" method="post">
<input type="text" id="body" name="body">
<button method="POST" type="submit" >Add Comment</button>

</form>