
<div class="card">
 <h1>{{post.title}}</h1>
 <p>By: {{post.user.username}}</p>
<p>{{post.createdAt}}</p>
 <hr>
 <h3>{{post.content}}</h3>
 <hr>
<div class="card">
 <h4>Comments</h4>
 {{#each post.comments as |comment|}}
<p>Comment: {{comment.body}}</p>
 {{/each}}
 <hr>
 <p><form action="/add-comment/{{post.id}}" method="post">
<input type="text" id="body" name="body">
<button method="POST" type="submit" >Add Comment</button></p>
 <hr>
</div>
</div>






