<div class="card">
 <h4>{{post.title}}</h4>
 <hr>
 <p>{{post.content}}</p>
 <hr>
 <h1>Comments</h1>


 {{#each post.comments as |comment|}}


<p>Comments: {{comment.body}}</p>


 {{/each}}

<p>

   <a action="GET" href="/edit-post/{{post.id}}">Edit Post</a>
</p>

<p>

      <a action="GET" href="/add-comment/{{post.id}}">Add Comment</a>
</p>
</div>