<h1>you are home baby</h1>

<section>
    {{!-- we are going to loop through all the data and show the title and content --}}
    {{#each posts as |post|}}
    {{!-- {{#each users as |user}} --}}
    <article>
        {{!-- this is how you call the data --}}
     
       
        <h2>{{post.title}}</h2>


        <p>{{post.content}}</p>
        <p>date created</p>
        <p>{{post.createdAt}}</p>
        <p>username id</p>
        <p>{{post.user_id}}</p>
        <P>username</P>
        <p>{{post.user.username}}</p>

<button ></button>

     <a action="GET" href="/edit-post/{{post.user.id}}">Edit Post</a>

    </article>
    {{/each}}
       {{!-- {{/each}} --}}









</section>
