

<section>  
    {{#each posts as |post|}}   
    <article>      
     
    <div class="card">
        <h4>{{post.title}}</h4>
        <hr>
        <p>{{post.content}}</p>
        <p>{{post.createdAt}}</p>
        <p>By: {{post.user.username}}</p>
        {{!-- <p>
            <a action="GET" href="/edit-post/{{post.id}}">Edit Post</a>
        </p> --}}



        


        <p>
            <a action="GET" href="/get-post/{{post.id}}" >View post</a>
        </p>
        <p>
            <a action="GET" href="/add-comment/{{post.id}}">Add Comment</a>
        </p>
    </div>
    <br>   


    </article>
    {{/each}}
  

</section>
